$item: #078ab6;
$base: #562ab7;
$gDark: #e8e8e8;
$shadow: #5ce1e6;
$contrast: #4287d1;
$grayColor: #f4f4f4;
$purpleGray: #6c5994;
$goldletter: #f9c719;
$subMainTitle:#005370;
$fontOne: "Cooper Hewitt";
$fontMain: "Raleway";
$h1: 1.9rem;
$h2: 1.5rem;
$h3: 1.35rem;
$h4: 1.1rem;
$h5: 0.99rem;
$h6: 0.9rem;